.cube div {
  width: 200px;
  height: 200px;
  position: absolute;
}
.cube {
  -webkit-animation-name: rotate-3d;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 4s;
  -moz-animation-name: rotate-3d;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 4s;
  animation-name: rotate-3d;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 2s;
  -webkit-transform: rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-transition: -webkit-transform 2s;
  -moz-transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: -webkit-transform 2s;
  transform: rotateY(0deg);
  position: relative;
  width: 200px;
  height: 200px;
}
.cube:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
.cube-wrapper {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  float: left;
  margin: 100px;
}
.cube-front {
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translate3d(0px, 0px, 100px);
  -moz-transform: rotate3d(0, 0, 0, 0deg) translate3d(0px, 0px, 100px);
  transform: rotate3d(0, 0, 0, 0deg) translate3d(0px, 0px, 100px);
  opacity: 0.6;
  background: #fff;
}
.cube-right {
  -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, 0px, 100px);
  -moz-transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, 0px, 100px);
  transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, 0px, 100px);
  background: #000;
}
.cube-left {
  -webkit-transform: rotate3d(0, 1, 0, 270deg) translate3d(0px, 0px, 100px);
  -moz-transform: rotate3d(0, 1, 0, 270deg) translate3d(0px, 0px, 100px);
  transform: rotate3d(0, 1, 0, 270deg) translate3d(0px, 0px, 100px);
  background: #00f;
}
.cube-top {
  -webkit-transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, 0px, 100px);
  -moz-transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, 0px, 100px);
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0px, 0px, 100px);
  background: #ff0;
}
.cube-bottom {
  -webkit-transform: rotate3d(1, 0, 0, 270deg) translate3d(0px, 0px, 100px);
  -moz-transform: rotate3d(1, 0, 0, 270deg) translate3d(0px, 0px, 100px);
  transform: rotate3d(1, 0, 0, 270deg) translate3d(0px, 0px, 100px);
  background: #808080;
}
.cube-back {
  -webkit-transform: rotate3d(1, 0, 0, 180deg) translate3d(0px, 0px, 100px);
  -moz-transform: rotate3d(1, 0, 0, 180deg) translate3d(0px, 0px, 100px);
  transform: rotate3d(1, 0, 0, 180deg) translate3d(0px, 0px, 100px);
  background: #007aff;
}
@-moz-keyframes rotate-3d {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg);
    transform: rotateY(360deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-3d {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg);
    transform: rotateY(360deg) rotateZ(360deg);
  }
}
@-o-keyframes rotate-3d {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg);
    transform: rotateY(360deg) rotateZ(360deg);
  }
}
@-ms-keyframes rotate-3d {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg);
    transform: rotateY(360deg) rotateZ(360deg);
  }
}
@keyframes rotate-3d {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg);
    transform: rotateY(360deg) rotateZ(360deg);
  }
}
