@import 'nib'

.cube div 
    width: 200px
    height: 200px
    position: absolute  

cube-animation()
    animation-name: rotate-3d
    animation-iteration-count: infinite
    animation-timing-function: linear
    animation-duration: 4s     

.cube
    cube-animation()
    transform-style: preserve-3d
    transition: transform 2s
    transform: rotateY( 0deg )

    position: relative
    width: 200px
    height: 200px

.cube:hover
    animation-play-state: paused

@keyframes rotate-3d
    from
        transform: rotateY( 0deg ) rotateZ( 0deg )
    to  
        transform: rotateY( 360deg ) rotateZ( 360deg )

.cube- 

    &wrapper 
        perspective: 1000px
        float: left
        margin: 100px

    &front
        transform: rotate3d( 0, 0, 0, 0deg ) translate3d( 0px, 0px, 100px )
        opacity: 0.6
        background: white

    &right
        transform: rotate3d( 0, 1, 0, 90deg ) translate3d( 0px, 0px, 100px )
        background: black

    &left
        transform: rotate3d( 0, 1, 0, 270deg ) translate3d( 0px, 0px, 100px )
        background: blue

    &top
        transform: rotate3d( 1, 0, 0, 90deg ) translate3d( 0px, 0px, 100px )
        background: yellow

    &bottom
        transform: rotate3d( 1, 0, 0, 270deg ) translate3d( 0px, 0px, 100px )
        background: gray

    &back
        transform: rotate3d( 1, 0, 0, 180deg ) translate3d( 0px, 0px, 100px )
        background: #007AFF